body{

   background-color: lightgray;
}
.list-group-item.active {
    background-color: #198754;
    border-color: #198754;
}
.list-group-item:hover{
    background-color: #198754;
}
.btn:hover{
    color: #fff;
}
a.active{
    color: #fff
}

a{
	padding: 2%;
}

@media only screen and (max-width: 768px){
	
	.img-fluid{
		max-width: 30%;
	}
	
	.logoCentrado{
		display: flex;
		justify-content: center;
	}
}

