body {
	background-color: lightgrey;
}

.contenedor {
	transition: transform 1s ease-in-out;
}

.oculto {
	display: none;
}


.giroSiguiente {
	animation: siguiente 2s linear 1 forwards;
	transform: rotateY(-180deg);
}

.giroVolver{
	animation: volver 2s linear 1 forwards;
	transform: rotateY(180deg);
}

@keyframes siguiente {
	0% {
		transform: rotateY(-180deg);
	}

	100% {
		transform: rotateY(0deg);
	}
}

@keyframes volver {
	0% {
		transform: rotateY(180deg);
	}

	100% {
		transform: rotateY(0deg);
	}
}