body{
   background-color: lightgray;
}
.list-group-item.active {
    background-color: #198754;
    border-color: #198754;
}
.list-group-item:hover{
    background-color: #198754;
}
.btn:hover{
    color: #fff;
}
a.active{
    color: #fff
}