<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymTracker</title>
    <link rel="shortcut icon" href="/images/logo/logoVerde.png">

    <div th:replace="~{fragments/sidebar.html}"></div>
    <script src="/js/ejercicios.js"></script>
    <script src="/js/nuevaRutina.js"></script>
    <link rel="stylesheet" href="/css/styles_nuevaRutina.css">

</head>

<body onload="cargarEjerciciosSegunInputs()">
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-xl">
            <div class="card shadow-lg">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-3 d-flex align-items-center justify-content-center">
                            <img class="img-fluid logo" src="/images/logo/logoVerde.png" alt="Logo Gymtracker">
                        </div>
                        <div class="col-md-6 d-flex align-items-center justify-content-center">
                            <h1 class="text-center">Nueva rutina</h1>
                        </div>
                        <div class="col-md-3 d-flex align-items-center  justify-content-center">
                            <button onclick="clase_activo()" class="btn btn-success" type="button"
                                    data-bs-toggle="offcanvas" data-bs-target="#idSidebar" aria-controls="sidebar">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-list" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                                </svg>
                                Menú
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 order-md-1">
                            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                                    data-bs-target="#idModalEjercicios">Añadir Ejercicio
                            </button>
                        </div>
                        <div class="col-6 order-md-2 d-flex justify-content-end">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                    data-bs-target="#idModalCrearRutina">Crear Rutina
                            </button>
                        </div>
                    </div>
                    <ul class="list-group text-center" id="idlistaEjercicios">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="idCrearEjercicio" value="1"/>
<!--Modal de crear rutina-->
<!--th:object="nuevaRutina"-->
<form action="#" method="get">
    <div class="modal fade" id="idModalCrearRutina" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row w-100">
                        <div class="col-md-9 d-flex justify-content-start align-items-center">
                            <h1>Crear rutina</h1>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="idNombreRutina">Dame el nombre de tu rutina para crearla</label>
                            <div class="input-group mb-3">
                                <input type="text" id="idNombreRutina" class="form-control" name="nombre"
                                       placeholder="Nombre de la rutina">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                    <input type="submit" class="btn btn-success" value="Crear">
                </div>
            </div>
        </div>
    </div>
</form>
<!--Modal de ejercicios-->
<div class="modal fade" id="idModalEjercicios" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100">
                    <div class="col-md-9 d-flex justify-content-start align-items-center">
                        <h1>Buscar Ejercicios</h1>
                    </div>
                    <div class="col-md-3 d-flex justify-content-end align-items-center">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon1">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-search" viewBox="0 0 16 16" data-darkreader-inline-fill=""
                                         style="--darkreader-inline-fill: currentColor;">
										<path
                                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0">
										</path>
									</svg>
								</span>
                            <input type="text" id="idNombreEjercicio" class="form-control"
                                   oninput="cargarEjerciciosSegunInputs()" placeholder="Buscar ejercicios por nombre">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <select id="idEquipamientoEjercicio" class="form-select"
                                onchange="cargarEjerciciosSegunInputs()">
                            <option value="" selected>Selecciona el equipamiento</option>
                            <option value="pesas">Pesas</option>
                            <option value="maquina">Máquina</option>
                            <option value="polea">Polea</option>
                            <option value="peso corporal">Peso corporal</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select id="idMusculoEjercicio" class="form-select"
                                onchange="cargarEjerciciosSegunInputs()">
                            <option value="" selected>Selecciona un músculo</option>
                            <option value="cuadriceps">Cuadriceps</option>
                            <option value="gluteos">Gluteos</option>
                            <option value="pectorales">Pectorales</option>
                            <option value="triceps">Triceps</option>
                            <option value="espalda">Espalda</option>
                            <option value="biceps">Biceps</option>
                            <option value="espalda baja">Espalda baja</option>
                            <option value="isquiotibiales">Isquiotibiales</option>
                            <option value="deltoides">Deltoides</option>
                            <option value="abdominales">Abdominales</option>
                            <option value="gemelos">Gemelos</option>
                            <option value="multiples">Multiples</option>
                            <option value="antebrazo">Antebrazo</option>
                            <option value="trapecio">Trapecio</option>
                        </select>
                    </div>
                </div>
                <div class="container mt-3 mb-4">
                    <h1>Listado de ejercicios</h1>
                    <div id="lista-ejercicios" class="row fixed-size-row">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="idModalSeriesCrear" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="flex-grow-1 text-center m-0">Añadir serie</h1>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="container mt-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="idPesoModalCrear"><b>Peso (kg):</b></label>
                                    <input type="number" id="idPesoModalCrear" name="peso" class="form-control">
                                </div>
                                <div class="alert alert-warning mt-3" id="idAlertPesoCrear" style="display: none;">
                                    Peso
                                    inválido
                                </div>
                                <div class="form-group">
                                    <label for="idRepesModalCrear"><b>Repeticiones:</b></label>
                                    <input type="number" id="idRepesModalCrear" name="repeticiones"
                                           class="form-control">
                                </div>
                                <div class="alert alert-warning mt-3" id="idAlertRepesCrear" style="display: none;">
                                    Número de repeticiones inválido
                                </div>
                                <input type="hidden" id="idHidden">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" onclick="crearSerie(document.getElementById('idPesoModalCrear').value,
								   												  document.getElementById('idRepesModalCrear').value,
								   												  document.getElementById('idHidden').value);">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="idModalSeriesEditar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="flex-grow-1 text-center m-0">Editar serie</h1>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="container mt-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="idPesoModalEditar"><b>Peso (kg):</b></label>
                                    <input type="number" id="idPesoModalEditar" name="peso" class="form-control">
                                </div>
                                <div class="alert alert-warning mt-3" id="idAlertPesoEditar" style="display: none;">
                                    Peso
                                    inválido
                                </div>
                                <div class="form-group">
                                    <label for="idRepesModalEditar"><b>Repeticiones:</b></label>
                                    <input type="number" id="idRepesModalEditar" name="repeticiones"
                                           class="form-control">
                                </div>
                                <div class="alert alert-warning mt-3" id="idAlertRepesEditar"
                                     style="display: none;">
                                    Número de repeticiones inválido
                                </div>
                                <input type="hidden" id="idSerieHidden"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" onclick="editarSerie(document.getElementById('idPesoModalEditar').value,
																				   document.getElementById('idRepesModalEditar').value,
																				   document.getElementById('idSerieHidden').value)">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div>
</body>

</html>