<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Usuario - GymTracker</title>
    <link rel="shortcut icon" href="/images/logo/logoVerde.png">
    <div th:replace="~{fragments/bootstrap.html}"></div>

    <link rel="stylesheet" type="text/css" href="/css/styles_crearUsuario.css">
    <script src="/js/crearUsuario.js"></script>
    <script src="/js/admin.js"></script>


</head>
<body>
<div class="container mt-5">
    <form onsubmit="return validar(event, 'crear')" action="/usuario/crear" method="post" th:object="${usuarioPerfilDTO}" id="idFormCrearUsuario">
        <div class="row justify-content-center contenedor" id="idContenedor1">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3 logoCentrado">
                                <img class="img-fluid" loading="lazy" src="/images/logo/logoVerde.png" alt="Logo Gymtracker">
                            </div>
                            <div class="col-md-7 d-flex justify-content-center align-items-center">
                                <h1>Crear Usuario</h1>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="idNombre"><b>Nombre:</b></label>
                                <input type="text" id="idNombre" name="nombre" th:field="*{usuarioDTO.nombre}"
                                       class="form-control" placeholder="Nombre de usuario" required>
                            </div>
                            <div class="form-group">
                                <label for="idContrasena"><b>Contraseña:</b></label>
                                <input type="password" id="idContrasena" name="contrasena"
                                       th:field="*{usuarioDTO.contrasena}" class="form-control"
                                       placeholder="**************" required>
                            </div>
                            <div class="text-center">
                                <input type="button" class="btn btn-success" name="botonUsuario" id="idBotonUsuario"
                                       onclick="comprobarUsuarioAceptar()" value="Aceptar">
                                <a href="/" class="btn btn-outline-success">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-primary mt-3" id="idAlertCrearUsuario">No olvides que no es necesario que completes tu perfil en este momento, pero recuerda actualizarlo más tarde. Pulsa enter para omitirlo.</div>
            </div>
        </div>

        <div class="row justify-content-center oculto contenedor" id="idContenedor2">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img-fluid" src="/images/logo/logoVerde.png" alt="Logo Gymtracker">
                            </div>
                            <div class="col-md-7 d-flex justify-content-center align-items-center">
                                <h1>Crea tu perfil</h1>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="idEdad"><b>Edad:</b></label>
                                <input type="number" id="idEdad" name="edad" th:field="*{perfilDTO.edad}"
                                       class="form-control" min="0" max="120">
                            </div>
                            <div class="form-group">
                                <label for="idGenero"><b>Género:</b></label>
                                <select id="idGenero" name="genero" th:field="*{perfilDTO.genero}"
                                        class="form-control">
                                    <option value="Sin especificar">Sin especificar</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                </select>
                            </div>
                            <div class="text-center">
                                <input type="button" class="btn btn-success" value="Siguiente" onclick="validarEdadAndGenero('siguiente')"/>
                                <input type="button" class="btn btn-outline-success" onclick="volver(2)"
                                       value="Volver"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-primary mt-3" role="alert" id="idAlertPerfil1">
                    No olvides que no es necesario que completes tu perfil en este momento, pero recuerda actualizarlo
                    más tarde.
                </div>
            </div>
        </div>

        <div class="row justify-content-center oculto contenedor" id="idContenedor3">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img-fluid" src="/images/logo/logoVerde.png" alt="Logo Gymtracker">
                            </div>
                            <div class="col-md-7 d-flex justify-content-center align-items-center">
                                <h1>Crea tu perfil</h1>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="idPeso"><b>Peso (kg):</b></label>
                                <input type="number" id="idPeso" name="peso" th:field="*{perfilDTO.peso}" min="0" max="200"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="idAltura"><b>Altura (cm):</b></label>
                                <input type="number" id="idAltura" name="altura" th:field="*{perfilDTO.altura}" min="0" max="300"
                                       class="form-control">
                            </div>
                             <div class="text-center">
                                <input type="submit" class="btn btn-success" value="Crear"/>
                                <input type="button" class="btn btn-outline-success" onclick="volver(3)"
                                       value="Volver"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-primary mt-3" role="alert" id="idAlertPerfil2">
                    No olvides que no es necesario que completes tu perfil en este momento, pero recuerda actualizarlo
                    más tarde.
                </div>
            </div>
        </div>
    </form>
</div>
</body>

</html>