<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymTracker</title>
    <link rel="stylesheet" type="text/css" href="/css/styles_sidebar.css">

</head>
<body>
<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Gimnasio App</h3>
        </div>
        <ul class="list-unstyled components">
            <li class="active">
                <a href="/inicio">Inicio</a>
            </li>
            <li>
                <a href="/mis-entrenamientos">Mis entrenamientos</a>
            </li>
            <li>
                <a href="/ejercicios">Ejercicios</a>
            </li>
            <li>
                <a href="/estadisticas">Estadísticas</a>
            </li>
            <!--<li><a href="/calendario">Calendario</a></li>-->
            <li>
                <a href="/perfil">Perfil</a>
            </li>
            <li>
                <a href="/logout">Salir</a>
            </li>
        </ul>
    </nav>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Mostrar Menú</span>
                </button>
            </div>
        </nav>
    </div>
</div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="/js/sidebar.js"></script>
</body>
</html>
