<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Listado de Ejercicios</title>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<script th:inline="javascript">
		// Hacer la solicitud a la API
		function cargarEjercicios(url) {
			axios.get(url)
				.then(function (response) {
					const listaEjercicios = document.getElementById('lista-ejercicios');
					listaEjercicios.innerHTML = ''; // Limpiar la lista antes de agregar los nuevos ejercicios
					if (response.data.length === 0) {
						const li = document.createElement('li');
						li.innerHTML = "No se ha encontrado ningún ejercicio bajo tu búsqueda";
						listaEjercicios.appendChild(li);
					} else {
						response.data.forEach((e) => {
							const li = document.createElement('li');
							li.innerHTML = e.nombre;
							listaEjercicios.appendChild(li);
						});
					}
				})
				.catch(function (error) {
					console.error('Error al obtener los ejercicios:', error);
				});
		};

		function cargarEjerciciosGenerales() {
			const url = 'http://localhost:8081/ejercicios';
			cargarEjercicios(url);
		};

		function cargarEjerciciosSegunInputs() {
			const musculo = document.getElementById('idMusculoEjercicio').value;
			const equipamiento = document.getElementById('idEquipamientoEjercicio').value;
			const nombre = document.getElementById('idNombreEjercicio').value;

			const url = `http://localhost:8081/ejercicios/buscar?nombre=${nombre}&musculo=${musculo}&equipamiento=${equipamiento}`;
			cargarEjercicios(url);
		}

	</script>

</head>

<body onload="cargarEjerciciosSegunInputs()">

	<div class="search-container">
		<label for="idNombreEjercicio">Buscar ejercicios por nombre:</label>
		<input type="text" id="idNombreEjercicio" oninput="cargarEjerciciosSegunInputs()">
	</div>

	<select id="idEquipamientoEjercicio" onchange="cargarEjerciciosSegunInputs()">
		<option value="" selected>Selecciona el equipamiento</option>
		<option value="Pesas">Pesas</option>
		<option value="Maquina">Máquina</option>
		<option value="Polea">Polea</option>
		<option value="Peso corporal">Peso corporal</option>
	</select>


	<select id="idMusculoEjercicio" onchange="cargarEjerciciosSegunInputs()">
		<option value="" selected>Selecciona un músculo</option>
		<option value="Cuadriceps">Cuadriceps</option>
		<option value="Gluteos">Gluteos</option>
		<option value="Pectorales">Pectorales</option>
		<option value="Espalda">Espalda</option>
		<option value="Biceps">Biceps</option>
		<option value="Triceps">Triceps</option>
		<option value="Deltoides">Deltoides</option>
		<option value="Abdominales">Abdominales</option>
		<option value="Gemelos">Gemelos</option>
	</select>

	<h1>Listado de Ejercicios</h1>

	<ul id="lista-ejercicios">
		<!-- Aquí se mostrarán los ejercicios -->
	</ul>


</body>

</html>