<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Listado de Ejercicios</title>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<!--<link rel="stylesheet" type="text/css" href="/css/styles_ejercicios.css">-->
	<script src="/js/ejercicios.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<div th:replace="~{fragments/bootStrapDamago.html}"></div>
</head>

<body onload="cargarEjerciciosSegunInputs()">
	<div class="container">
		<!-- Header -->
		<header class="bg-dark text-white p-3 d-flex align-items-center">
			<button class="btn btn-success me-3" onclick="toggleSidebar()">
				<span class="bi bi-list">=</span>
			</button>
			<h1 class="flex-grow-1 text-center m-0">Buscar Ejercicios</h1>
		</header>

		<input type="number" id="idCrearEjercicio" value=""/>

		<!-- Contenido principal -->
		<div class="container mt-3">
			<!-- Selección de filtros -->
			<div class="row">
				<div class="col-md-12">
					<div class="search-container mb-3">
						<label for="idNombreEjercicio" class="form-label">Buscar ejercicios por nombre:</label>
						<input type="text" id="idNombreEjercicio" class="form-control"
							oninput="cargarEjerciciosSegunInputs()">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<select id="idEquipamientoEjercicio" class="form-select" onchange="cargarEjerciciosSegunInputs()">
						<option value="" selected>Selecciona el equipamiento</option>
						<option value="pesas">Pesas</option>
						<option value="maquina">Máquina</option>
						<option value="polea">Polea</option>
						<option value="peso corporal">Peso corporal</option>
					</select>
				</div>
				<div class="col-md-6">
					<select id="idMusculoEjercicio" class="form-select" onchange="cargarEjerciciosSegunInputs()">
						<option value="" selected>Selecciona un músculo</option>
						<option value="cuadriceps">Cuadriceps</option>
						<option value="gluteos">Gluteos</option>
						<option value="pectorales">Pectorales</option>
						<option value="triceps">Triceps</option>
						<option value="espalda">Espalda</option>
						<option value="biceps">Biceps</option>
						<option value="espalda baja">Espalda baja</option>
						<option value="isquiotibiales">Isquiotibiales</option>
						<option value="deltoides">Deltoides</option>
						<option value="abdominales">Abdominales</option>
						<option value="gemelos">Gemelos</option>
						<option value="multiples">Multiples</option>
						<option value="antebrazo">Antebrazo</option>
						<option value="trapecio">Trapecio</option>
					</select>
				</div>
			</div>
		</div>

		<!-- Titulo -->
		<h1 class="container mt-3 mb-4">Listado de Ejercicios</h1>

		<!-- Lista de ejercicios -->
		<div class="container mt-3">
			<div id="lista-ejercicios">
				<!-- Card de ejemplo -->
				<div class="card mt-3">
					<div class="card-body">
						<h5 class="card-title">Sentadilla</h5>
						<div class="row">
							<div class="col-md-8">
								<p class="card-text">Descripción del ejercicio...</p>
							</div>
							<div class="col-md-4">
								<img src="sentadilla.jpg" class="img-fluid" alt="Sentadilla">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>