<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Listado de Ejercicios</title>
	<link rel="shortcut icon" href="/images/logo/logoVerde.png">
	
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles_ejercicios.css">
    <script src="/js/ejercicios.js"></script>
</head>

<body onload="cargarEjerciciosSegunInputs()">

<div class="search-container">
    <label for="idNombreEjercicio">Buscar ejercicios por nombre:</label>
    <input type="text" id="idNombreEjercicio" oninput="cargarEjerciciosSegunInputs()">
</div>

<select id="idEquipamientoEjercicio" onchange="cargarEjerciciosSegunInputs()">
    <option value="" selected>Selecciona el equipamiento</option>
    <option value="pesas">Pesas</option>
    <option value="maquina">Máquina</option>
    <option value="polea">Polea</option>
    <option value="peso corporal">Peso corporal</option>
</select>


<select id="idMusculoEjercicio" onchange="cargarEjerciciosSegunInputs()">
    <option value="" selected>Selecciona un músculo</option>
    <option value="cuadriceps">Cuadriceps</option>
    <option value="gluteos">Gluteos</option>
    <option value="pectorales">Pectorales</option>
    <option value="triceps">Triceps</option>
    <option value="espalda">Espalda</option>
    <option value="biceps">Biceps</option>
    <option value="espalda baja">Espalda baja</option>
    <option value="isquiotibiales">Isquiotibiales</option>
    <option value="deltoides">Deltoides</option>
    <option value="abdominales">Abdominales</option>
    <option value="gemelos">Gemelos</option>
    <option value="multiples">Multiples</option>
    <option value="antebrazo">Antebrazo</option>
    <option value="trapecio">Trapecio</option>
</select>

<h1>Listado de Ejercicios</h1>

<ul id="lista-ejercicios">
    <!-- Aquí se mostrarán los ejercicios -->
</ul>


</body>

</html>