<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GymTracker</title>
	<link rel="shortcut icon" href="/images/logo/logoVerde.png">

	<div th:replace="~{fragments/bootStrapDamago.html}"></div>
	<link rel="stylesheet" href="/css/styles_menu.css">
</head>

<body>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img-fluid" src="/images/logo/logoVerde.png" alt="Logo Gymtracker">
                            </div>
                            <div class="col-md-6 d-flex justify-content-center align-items-center">
                                <h1 class="text-center">GymTracker</h1>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
						<ul class="list-group text-center">
							<li class="list-group-item list-group-item-action active">
								<a class="btn active" >Inicio</a>
							</li>
							<li class="list-group-item btn-outline-success">
								<a href="/nueva-rutina" class="btn">Nueva rutina &#10133;</a>
							</li>
							<li class="list-group-item  btn-outline-success">
								<a href="/mis-entrenamientos" class="btn">Mis entrenamientos  &#128197;</a>
							</li>
							<li class="list-group-item btn-outline-success">
								<a href="/ejercicios" class="btn">Ejercicios &#128170;</a>
							</li>
							<li class="list-group-item btn-outline-success">
								<a href="/estadisticas" class="btn">Estadísticas  &#128200;</a>
							</li>
							<li class="list-group-item btn-outline-success">
								<a href="/perfil" class="btn">Perfil &#128100;</a>
							</li>
							<li class="list-group-item btn-outline-success">
								<a href="/cerrar-sesion" class="btn">Cerrar sesión &#128682;</a>
							</li>
						</ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>