<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GymTracker</title>
    <link rel="shortcut icon" href="/images/logo/logoBlanco.png">

    <link rel="stylesheet" type="text/css" href="/css/styles_menu.css">
</head>
<body>

<div th:replace="fragments/sidebar.html"></div>

<div class="container">
    <div class="menu">
        <h1>GymTracker</h1>
        <ul>
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/mis-entrenamientos">Mis entrenamientos</a></li>
            <li><a href="/ejercicios">Ejercicios</a></li>
            <li><a href="/estadisticas">Estadísticas</a></li>
            <!--<li><a href="/calendario">Calendario</a></li>-->
            <li><a href="/perfil">Perfil</a></li>
            <li><a href="/logout">Salir</a></li>
        </ul>
    </div>
</div>
</body>
</html>