<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - GymTracker</title>
    <link rel="shortcut icon" href="/images/logo/logoBlanco.png">

    <link rel="stylesheet" type="text/css" href="/css/styles_perfil.css">
</head>
<body>

<div th:replace="fragments/sidebar.html"></div>

<div class="container">
    <div class="profile">
        <h1>Mi Perfil</h1>
        <div class="profile-info">
            <div class="info">
                <strong>Nombre: </strong><span th:text="${perfilUsuario.nombre}"></span>
            </div>
            <div class="info">
                <strong>Email: </strong> juan@example.com
            </div>
            <div class="info">
                <strong>Edad: </strong><span th:text="${perfilUsuario.edad}"></span>
            </div>
            <div class="info">
                <strong>Género: </strong> Masculino
            </div>
            <div class="info">
                <strong>Peso: </strong> 75 kg
            </div>
            <div class="info">
                <strong>Altura: </strong><span th:text="${perfilUsuario.altura}"></span>
            </div>
        </div>
        <a href="editarperfil.html">Editar Perfil</a>
    </div>
</div>
</body>
</html>
