<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 - GymTracker</title>
    <link rel="shortcut icon" href="/images/logo/logoVerde.png">
    <div th:replace="~{fragments/bootstrap.html}"></div>
    <link rel="stylesheet" type="text/css" href="/css/styles_error.css">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center oculto contenedor" id="idContenedorError">
        <div class="col-xl">
            <div class="card shadow-lg">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                            <h1>4</h1>
                            <img class="img-fluid logo" loading="lazy" src="/images/logo/logoVerde.png" alt="Logo Gymtracker">
                            <h1>4</h1>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center align-items-center">
                            <h1>Not Found</h1>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                            <a href="/menu" class="btn btn-success" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                                </svg>
                                Inicio
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body d-flex justify-content-center align-items-center">
                    <div class="row">
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                        </div>
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                            "¡Ups! Parece que este ejercicio no estaba en tus planes... ¡Mejor tomar un respiro y
                            reorganizar las pesas, digo, las cosas!"
                        </div>
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                            <img class="img-fluid" src="/images/error/huevo.png" alt="Error 404">
                        </div>
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>